$primary: #380e65;

.navbar-item img {
    max-height: 3rem;
}

body{
  max-width: 1050px;
  margin: 0 auto;
}

.pageDiv{
  margin-left: 1%;
  margin-right: 1%
}
.honeyColours{
  color: $primary;
  font-weight: bold;
}

.aboutUs p{
  text-align: center;
  margin-bottom: 5%
}
.hide{
  display: none;
}
section.hero{
  margin-bottom: 5%;
}

.hero.is-primary, .button.is-primary{
    background-color: $primary;
}
.button.is-primary:hover{
  background-color: $primary;
  color: orange;
}
a{
  color: $primary;
}

h2.alignRight{
  text-align: right;
}

.landingPageVideo{
  margin-left: 10%
}

.sellHoneyDiv{
  display: flex;
  flex-direction: row;
  .formMiddle, .formRight, .formLeft{
    margin: 0 1.5% 0 1.5%;
  }
  .formLeft, .formRight{
    max-width: 30%
  }
  .formMiddle{
    width: 60%
  }
}

.submitResearchDiv div.container{
  text-align: center;
  margin-bottom: 5%;
}
